:root {
    --primary-color: #fe2c55;
    --secondary-color: #25f4ee;
    --dark-bg: #121212;
    --dark-text: #ffffff;
    --light-text: rgba(255, 255, 255, 0.7);
    --nav-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    font-family: Arial, sans-serif;
}

.mobile-app {
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* وێنە */
.image-feed {
    height: calc(100vh - 50px - var(--nav-height));
    overflow-y: scroll;
}

.image-container {
    height: 100vh;
    position: relative;
    background-color: var(--dark-bg);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.image-wrapper a {
    display: block;
    width: 100%;
    height: 70vh;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* کارلێکەکان */
.image-actions {
    position: absolute;
    bottom: 80px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.action-btn {
    background: transparent;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-btn i {
    font-size: 24px;
    margin-bottom: 5px;
}

.like-btn.active i {
    color: var(--primary-color);
}